<div class="row py-3">
        {{#each data}}
        <div class="col">
            <a class="text-decoration-none" href="#team/{{id}}" onclick="loadDetails('team/{{id}}','details-template','content')">
                <h3 class="text-black">{{name}}</h3> 
                 <img src="{{thumbpath}}" alt="{{name}}" class="rounded-4 me-3 img-fluid">
             <p class="text-black-50">{{{summary}}}</summary></p>
             </a>
        </div>
        {{/each}}
    </div>